---
import MainLayout from '../../layouts/MainLayout.astro';
import OsLayers from '../../components/OsLayer.jsx';
---

<MainLayout title="Capas del Sistema Operativo">
  <div class="">
    <OsLayers client:load />
  </div>
</MainLayout>