---
import '../styles/global.css';

import { Terminal } from 'lucide-react';

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} - Taller de Contenedores</title>
  </head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap" rel="stylesheet">

  <style is:global>
    body {
      font-family: 'Plus Jakarta Sans', sans-serif;
    }
    /* Personalizar scrollbar para que sea minimalista */
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background: #cbd5e1;
      border-radius: 10px;
    }
  </style>
  <body class="bg-slate-50 text-slate-900 flex h-screen overflow-hidden">
    
    <aside class="w-64 bg-slate-900 text-white flex flex-col h-full border-r border-slate-700">
      </aside>

    <main class="flex-1 h-full p-12 relative flex flex-col">
      <div class="max-w-6xl mx-auto w-full h-full">
        <slot /> 
      </div>
    </main>
</body>
</html>